{% load static %}
<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner" style="height: 300px;">
        <div class="carousel-item active" style="height: 380px;">
            <img src="{% static 'img/pic1.jpg' %}" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-10">
                <h2><strong>Selamat Datang, Nikmati kemudahan berbelanja di Toko kami</strong></h2>
                <p><strong>Temukan Makanan hingga Souvenir Unik & Menarik Hanya di Sini!</strong></p>
            </div>
        </div>
        <div class="carousel-item" style="height: 380px;">
            <img src="{% static 'img/pic2.jpg' %}" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-10">
                <h2><strong>Selamat Datang, Nikmati kemudahan berbelanja di Toko kami</strong></h2>
                <p><strong>Temukan Makanan hingga Souvenir Unik & Menarik Hanya di Sini!</strong></p>
            </div>
        </div>
        <div class="carousel-item" style="height: 380px;">
            <img src="{% static 'img/pic3-new.jpg' %}" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-10">
                <h2><strong>Selamat Datang, Nikmati kemudahan berbelanja di Toko kami</strong></h2>
                <p><strong>Temukan Makanan hingga Souvenir Unik & Menarik Hanya di Sini!</strong></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>