<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="background-color: #f0e8d7 !important;">
  <hr />
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-6 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>JogjaKu
          </h6>
          <p style="text-align: justify; margin-right: 35px; font-size: 14px !important;">
            Selamat datang di Jogjaku - Tempatnya Oleh-Oleh Khas Jogja! Di Jogjaku, Anda akan menemukan berbagai macam produk khas Jogja yang menarik, mulai dari makanan tradisional, kerajinan tangan, pakaian, aksesoris, hingga barang-barang unik yang hanya dapat ditemukan di Jogja. Kami bekerja sama dengan pengrajin lokal yang berbakat dan produsen makanan terbaik di kawasan ini untuk menyajikan oleh-oleh yang otentik dan menggugah selera.
            Setiap produk yang tersedia di platform kami dipilih secara teliti untuk memastikan kualitas, keaslian, dan nilai estetika yang tinggi.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-6 mb-md-0 mb-4 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Hubungi Kami</h6>
          <p><i class="fas fa-home me-3"></i> Bausasran, Kec. Danurejan, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55211</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            jogjaku@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 083838384854</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0;">
    Copyright © <script>document.write(new Date().getFullYear());</script>
    | This website is made with <i class="fas fa-heart text-danger"></i>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->