{% extends "base.html" %}

{% load i18n %}


{% block content %}
<main class="mt-5">
  <div class="container" style="margin-top: 50px !important; margin-bottom: 40px !important;">
    <p style="color: white;">as</p>
    <div class="my-3 col-6 offset-3">

      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
      </form>

    </div>
  </div>
</main>

{% endblock %}
